@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;1,500&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
nav{
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    background-color: black;
    color: rgb(114, 211, 16);
    font-size: 20px;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    position: relative;
}
.game{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    font-family: 'Noto Sans', sans-serif;
}
.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: aliceblue;
}
.result{
    margin-left: 20px;
}
.wining{
    width: 0;
    transition: width 1s ease-in-out;
}
.br{
    border-right: 0;
}
.bl{
    border-left: 0;
}
.bt{
    border-top: 0;
}
.bb{
    border-bottom: 0;
}
.Turn{
    margin: 5px;
    font-size: 1.4vw;
}
.line{
    background-color: rgb(215, 25, 25);
    width: 0;
    transition: width 1s ease-in-out;
    height: 3px;
    position: absolute;
}
#reset{
    margin: 5px 23px;
    padding: 6px 14px;
    border-radius: 7px;
}
@media screen and (max-width: 800px) {
    .container{
        flex-wrap: wrap;
    }
    .result{
        margin-top: 34px;
    }
    .result h2{
        font-size: 1.4rem;
    }
    .Turn{
        font-size: 4vw;
    }
    .game{
        grid-template-columns: repeat(3,20vw);
        grid-template-rows: repeat(3,20vw);
    }
}